SMARTMED_TELEGRAM_BOT_TOKEN=
SMARTMED_EMAIL_SMTP_SERVER=smtp.gmail.com
SMARTMED_EMAIL_SMTP_PORT=587
SMARTMED_EMAIL_USERNAME=smartmedispender@gmail.com
SMARTMED_EMAIL_PASSWORT=
SMARTMED_ARDUINO_PORT=/dev/ttyACM0
SMARTMED_ARDUINO_BAUDRATE=115200
SMARTMED_ARDUINO_TIMEOUT=1